{% extends "generic/generic_list.html" %}
{% load i18n %}
{% load export_url from django_tables2 %}
{% load render_table from django_tables2 %}

{% block additionalcols %}
  <div class="col-9">
    <div class="card">
      <div class="card-header">
        {% blocktranslate count results=table.paginator.count %}{{ results }} result.{% plural %}{{ results }} results.{% endblocktranslate %}
        {% if view.export_formats %}
          <div class="d-inline-block">
            <a id="downloadMenuButton"
               title="{% translate "download" %}"
               role="button"
               href="#"
               data-bs-toggle="dropdown"
               aria-expanded="false"><span class="material-symbols-outlined material-symbols-align">download</span></a>
            <ul class="dropdown-menu" aria-labelledby="downloadMenuButton">
              {% for format in view.export_formats %}
                <li>
                  <a class="dropdown-item" href="{% export_url format %}">{{ format | upper }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      </div>
      <div class="card-body">

        {% block table %}
          {% render_table table %}
        {% endblock table %}

      </div>
    </div>
  </div>
{% endblock additionalcols %}
