{% extends "base.html" %}
{% load nsvis %}
{% block scriptHeader %}
    {{ block.super }}
    <script>
    function imgError(image) {
      if (!image.hasOwnProperty('retryCount')) {
        image.retryCount = 0;
      }

      if (image.retryCount < 3) {
        setTimeout(function () {
            image.src += '?' + +new Date;
            image.retryCount += 1;
        }, 1000);
      }
    }
    </script>
{% endblock scriptHeader %}
{% block content %}
    <div class="container">
        {% if not magazine %}
            <ul>
                {% for magazine, years in magazines_container.magazines_sorted.items %}
                    <h1>{{ magazine }}</h1>
                    {% for year, issues in years.items %}
                        {% for issue, pages in issues.items %}
                            <a href="{% url "annotationmagazines" magazine issue %}"
                               class="text-decoration-none">
                                <span class="border p-2 d-inline-block mb-2" style="width: 10em;">{{ issue }}</span>
                            </a>
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            </ul>
        {% else %}
            <h1>{{ magazine }} / {{ issue }}</h1>
            {% for m, years in magazines_container.magazines_sorted.items %}
                {% if m == magazine %}
                    {% for year, issues in years.items %}
                        {% for i, pages in issues.items %}
                            {% if i == issue %}
                                {% for page in pages %}
                                    <a href="{% url "annotationpage" %}?image={{ page.labelledurl }}"
                                       class="text-decoration-none">
                                        <span class="border p-2 d-inline-block mb-2" style="width: 10em;">
                                            <img src="{{ page.labelledurl|get_imgproxy_thumbnail_for_labelled_url }}"
                                                 loading="lazy"
                                                 onerror="imgError(this);">
                                        </span>
                                    </a>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
