{% extends "generic/generic_list.html" %}
{% load i18n %}
{% load export_url from django_tables2 %}
{% load render_table from django_tables2 %}

{% block additionalcols %}
  <div class="col-9">
    <div class="card">
      <div class="card-header">
        {% blocktranslate with count=table.paginator.count %}{{ count }} results.{% endblocktranslate %}
        {% if view.export_formats %}
          {% translate "Download" %}
          {% for format in view.export_formats %}
            <a href="{% export_url format %}">{{ format | upper }}</a>
            {% if not forloop.last %}|{% endif %}
          {% endfor %}
        {% endif %}
      </div>
      <div class="card-body">

        {% block table %}
          {% render_table table %}
        {% endblock table %}

      </div>
    </div>
  </div>
{% endblock additionalcols %}
