{% extends "base.html" %}
{% load nsvis %}
{% block scriptHeader %}
    {{ block.super }}
    <script>
    function imgError(image) {
      if (!image.hasOwnProperty('retryCount')) {
        image.retryCount = 0;
      }

      if (image.retryCount < 3) {
        setTimeout(function () {
            image.src += '?' + +new Date;
            image.retryCount += 1;
        }, 1000);
      }
    }
    </script>
{% endblock scriptHeader %}
{% block content %}
    <div class="container">
        {% if not magazine %}
            {% for magazine, issues in magazines_container.get_issues_per_magazine.items %}
                <h1>{{ magazine }} ({{ issues|length }})</h1>
                <div class="magazines-container">
                    {% for issue in issues %}
                        <a href="{% url "annotationmagazines" magazine issue %}"
                           class="text-decoration-none magazine">
                            <div class="border p-2">{{ issue }}</div>
                        </a>
                    {% endfor %}
                </div>
            {% endfor %}
        {% else %}
            <h1>{{ magazine }} / {{ issue }}</h1>
            <div class="magazines-container">
                {% for m, issues in magazines_container.get_issues_per_magazine.items %}
                    {% if m == magazine %}
                        {% for i, pages in issues.items %}
                            {% if i == issue %}
                                {% for page in pages %}
                                    <a href="{% url "annotationpage" %}?image={{ page.labelledurl }}"
                                       class="text-decoration-none magazine">
                                        <div class="border p-2">
                                            <img src="{{ page.labelledurl|get_imgproxy_thumbnail_for_labelled_url }}"
                                                 loading="lazy"
                                                 onerror="imgError(this);">
                                        </div>
                                    </a>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
