{% extends "apis_core/apis_entities/abstractentity_detail.html" %}
{% load static %}

{% block scriptHeader %}
{{ block.super }}
<script src="{% static "js/nsvis.js" %}" defer></script>
{% endblock %}

{% block card-body %}
<div class="overlay" data-x={{ object.data.x }} data-y={{ object.data.y }} data-height={{ object.data.height }} data-width={{ object.data.width }} data-target="image"></div>
<div class="d-flex flex-row">
  <div>
    <img id="image" class="annotated-img" src="{{ object.image }}" referrerpolicy="origin">
  </div>
  <div class="ml-4">
    <table class="table">
      <tbody>
        <tr>
          <th scope="row">Titel</th>
          <td>{{ object.data.Title }}</td>
        </tr>
        <tr>
          <th scope="row">Dargestelltes</th>
          <td>{{ object.data.Dargestelltes }}</td>
        </tr>
        <tr>
          <th scope="row">Thema</th>
          <td>{{ object.data.Thema }}</td>
        </tr>
        <tr>
          <th scope="row">OrtInput</th>
          <td>{{ object.data.OrtInput }}</td>
        </tr>
        <tr>
          <th scope="row">Sonstiges</th>
          <td>{{ object.data.Sonstiges }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock card-body %}
