<div class="mb-3">
{% include "partials/relation_fieldset.html" with title="inventory" relations="apis_instance_nsvis.isinventoriedin, apis_instance_nsvis.isinheritancein" %}
</div>

<div class="mb-3">
{% include "partials/relation_fieldset.html" with title="organization" relations="apis_instance_nsvis.ismemberof, apis_instance_nsvis.personfoundsinstitution, apis_instance_nsvis.personemployedatinstitution" %}
</div>

<div class="mb-3">
{% include "partials/relation_fieldset.html" with title="career" relations="apis_instance_nsvis.collaborateswith, apis_instance_nsvis.worksas, apis_instance_nsvis.islearningat" %}
</div>


<div class="mb-3">
{% include "partials/relation_fieldset.html" with title="places" relations="apis_instance_nsvis.livesin, apis_instance_nsvis.hasstudioin, apis_instance_nsvis.bornin, apis_instance_nsvis.diedin, apis_instance_nsvis.exilein, apis_instance_nsvis.imprisonedin, apis_instance_nsvis.institutionlocatedinplace, apis_instance_nsvis.locatedin" %}
</div>
